*{margin: 0;padding: 0;box-sizing: border-box;transition: all 0.5s;}
 *::after{box-sizing: border-box;}
 *::before{box-sizing: border-box;}
 body{
   height: 100vh;
   display: flex;
   flex-direction: column;
 }
.code-wrapper{
   flex: 1;
   height: 50%;
   padding: 10px;
 }
.preview-wrapper{
  flex: 1;
  height: 50%;
}

/* .wrapper > :not(:last-child){    /*wrapper下所以子元素，但不包括最后一个儿子*/
  /* z-index: 1;
} */ 
 #code{
   overflow: hidden;
   height: 100%;
 }
 /* .wrapper{
  width: 100%;
  height: 165px;
  position: relative;
}
.preview{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */ 
.actions{
  position: absolute;
  right: 40px;
  top: 0;
  display: flex;
  flex-direction: column;
}
.actions>button{
  margin-top: 15px;
  background: #ddd;
  padding: 8px 10px;
  border: none;
}
.actions>button.active{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background: #bbb;
}
.actions>button:focus{
  outline: none;
}